

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}

:root {
  --bg-color: #f4f3ff;
  --btn-color: #646cff;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}

html {
  font-size: 62.5%;
}

/*? base style */

body {
  margin: 0;
  background-color: rgb(55, 224, 196);
  min-height: 100vh;
}


h1 {
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
}

p,
li,
label,
input,
textarea {
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
}

a {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
}

li {
  list-style: none;
}

/*? layout Rule  */

.container {
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: 0 auto;
}

.grid{
  margin: 85px 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  height: 100vh;
  
}

.registration-form{
  background-color: #250241;
  height: auto;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}


.first-div{
  display: flex;
  flex-direction: column;
  margin-top: -25px;
  gap: 64px;
  width: 100%;
  position: relative;
}
.custom-shape-divider-bottom-1706878303 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706878303 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 87px;
}

.custom-shape-divider-bottom-1706878303 .shape-fill {
  fill: #D0BEBE66;
}
.btn{
  background-color: cadetblue;
  padding: 15px 30px;
  font-size: 25px;
  width: 158px;
  display: flex;
  margin: auto;
}
.icon{
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid white;
  overflow: hidden;
  margin-bottom: -13px;

  & i{
    margin-top: 22px;
    font-size: 50px;
  }
} 
input{
  width: 280px;
  height: 38px;
  padding-left: 30px;
  border: none;
  border-radius: 6px;
}
input:focus {
  outline: none; 
  border-color: transparent; 
}

.icons-div{
  position: relative;
  display: inline-block;
  margin-top: 21px;
  
}
.icons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 3px;
    color: #888;
    font-size: 20px;
    right: 253px;
  border-right: 2px solid #888;
}

.submit-btn{
  display: flex;
  margin: auto;
  font-size: 20px;
  padding: 10px 80px;
  background-color: cadetblue;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.between-text p{
  display: flex;
  color: cadetblue;
  font-size: 12px;
  margin-top: 3px;
}